/************ Default Css ************/
#root {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #071321 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

h2{
  font-size: xx-large;
  font-weight: 600;
}

h3{
  font-size: xx-large;
}


p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a{
  font-size: large;
}


/************ Navbar Css ************/

nav.navbar {
  padding-bottom: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9998;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
  border-bottom: 3px;
  border-color: azure;
}

.animation-nav {
    pointer-events: none;
    max-height: 100px;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #ffffff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .dropdown-toggle.nav-link{
  font-weight: 400;
  color: #ffffff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;

}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}

.social-icon {
  display:flex;
  margin-left: 14px;
}
  .social-icon a {
    width: 50px;
    height: 50px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}


.navbar-text button span {
  z-index: 1;
  position: relative;
  overflow-wrap: break-word;;

}

.navbar-text button:hover span {
  color: #000;
}

.navbar-text button{
  max-height: 150px;
  appearance: none;
  background-color: #121212;
  border-width: 2px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  color: #fff;
  border-color: #fff;
  border-radius: 8px;
}

.navbar-text button::before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #fff;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  border-radius: 8px;
}
.navbar-text button:hover {
  border-radius: 8px;
  border-color: #000;
  transition: 500ms;
}
.navbar-text button:hover::before {
	animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  border-radius: 5px;
  border-width: 0;
}








.nav-logo{
  width: 200px;
  transform: translateY(-20px);
}

@media screen and (max-width: 1200px) {
nav.navbar .animation-nav {
  width: 150px;
  
}
}
@media screen and (max-width: 991px) {

  nav.navbar .animation-nav {
    width: auto;
    
  }
  .me-auto.navbar-nav a{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  nav.navbar .dropdown-menu.show{
    position: absolute;
  }

  .navbar-collapse{
    display: flex;
    transform: translateY(-20px); 
  }

  span.navbar-text{
    display: flex;
    flex-direction: column;
    
  }

  .social-icon{
    margin: 0 auto;
    z-index: 2;
    display: flex;
    padding-bottom: 20px;  
  }

  .navbar-text button{
    margin-left: 0;
    margin: 0 auto;
    z-index: 1;
    margin-bottom: 10px;
  }
}

/************Banner********************/
.banner {
  margin-top: 0;
  padding: 15vh 0 200px 0;
  background-image: url(./assets/nasa.jpg);
  background-color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  transition: background 300ms ease-in 200ms;
  background-position: top center;
  background-size:cover;
  background-repeat: no-repeat;
  
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  min-height: 130px;
}
.banner p {
  color: #dddddd;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}


.banner button span {
  z-index: 1;
  position: relative;
  overflow-wrap: break-word;;

}

.banner button:hover span {
  color: #000;
}

.banner button {
  margin: 3vw 0 3vw 5vw;
  max-height: 150px;
  appearance: none;
  background-color: #121212;
  border-width: 2px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  color: #fff;
  border-color: #fff;
}

.banner button:hover{
  border-radius: 8px;
  border-color: #121212;
  transition: 500ms;
 
}

.banner button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  border-radius: 8px;
  border-width: 0;
}

.banner button::before{
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #fff;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.banner button img {
  width: 20px;
  margin-left: 10px;
  filter: invert(1);
}

.banner button:hover img {
  filter: invert(0);
  transform: translateX(10px);
  transition: 0.5s ease-in-out;
}

.banner .bottom-banner{
  display: flex;
  margin-top: 10px;
}

.banner .profile-photo{
  aspect-ratio: 1/1;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  align-self: center;
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.animation-banner{
  margin-top: 25px;
  border-radius: 25%;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 1200px) {
.banner .profile-photo {
  width: 20vw;
  height: 20vw;
}
.banner h1 {
  min-height: 195px;
}
.banner button {
  margin: 0 0 0 15px;
  align-self: center;
}
}

@media screen and (max-width: 768px) {
  .banner .profile-photo {
    width: 40vw;
    height: 40vw;
  }
}

/************  Skills   *************/
.skill-fade{
  background: linear-gradient(0deg, rgba(7,19,33,1) 97%, rgba(18,18,18,0) 100%);
}

.skill{
  background-color: #121212;
  border-radius: 64px;
  width: 100%;
  text-align: center;
  margin-top: -150px;

}

.skill-box {
  padding: 10px 20px 20px 20px;
  width: auto;
  align-items: center;
}

.skill h3{
  margin-bottom: 15px;
}

.skill-box p{
  margin: 15px;
}

img.d-block {
  margin-left: 38%;
  margin-bottom: 80px ;
  width: 25%;
  min-height: 20vw;
}
.lazy-load-image-background.blur{
  width: 100%;
}

.carousel-caption{
  position:absolute; 
  bottom: 30px;
}

.carousel .framework{
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 50px;

}

.carousel .framework img{
  width: 80%;
  aspect-ratio: 3/2;
  object-fit: contain;
  align-self: center;
}

.skill ul{
  padding: 10px 20% 30px 20%;
  columns: 3;
  list-style:none;
}

.skill li{
  margin: 5px 5px 5px 5px;
}

.skill li>a{
  background: linear-gradient(90deg, rgba(89,48,179,1) 10%, rgba(161,54,131,1) 90%) no-repeat right bottom / 0 var(--bg-h);
  border-radius: 2px;
  transition: background-size 350ms;
  --bg-h: 100%;
  color: inherit;
  line-height: 1;
  --bg-h: 4px;
  padding-bottom: 2px;
  font-weight:800;
  font-size: large;
}

.skill li>a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left; 
  }

@media screen and (max-width: 1200px) {
  .carousel .d-block {
    margin-left: 35%;
    width: 30%;
  }
  .carousel .framework{
    height: 120px;
    padding-bottom: 0;
    margin-bottom: 50px;
  }
  .carousel .framework img{
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .carousel .d-block {
    margin-left: 30%;
    width: 40%;
  }
  .carousel .framework{
    height: 100px;
    margin-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .skill li>a{
    font-weight:800;
    font-size: medium;

  }
}

@media screen and (max-width: 530px) {
  .carousel .d-block {
    margin-left: 20%;
    width: 60%;
  }
  .skill-box {
    padding: 20px 25px 25px 25px;
  }
}

/************ Projects ************/

.project{
  margin-top: 50px;
  margin-bottom: 50px;
}
.project{
  text-align: center; 
}

.project p{
  margin: 15px; 
}

.project div.row{
  margin: 50px 0 50px 0;
  align-items: center;
  justify-content: center;
}

.card {
  width: auto;
  padding: 0;
  background: #000;
  border-radius: 20px;
}
.card .image {
  overflow: hidden;
  border-radius: 20px;
}
.card .image img {
  max-height: 70vh;
  transition: .5s;
}
.card:hover .image img {
  opacity: .5;
  transform: translateX(30%);/*100%*/
}
.card .details {
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;/*100%*/
  height: 100%;
  background: #121212;
  transition: 1s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-height: 90%;
}
.card .details .center h3{
  margin: 0;
  padding: 0;
  color: blue;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center p{
  margin: 10px 0;
  padding: 0;
  color: #262626;
  text-overflow: ellipsis;
}

.card .details .center a{
background: linear-gradient(90deg, rgba(89,48,179,1) 10%, rgba(161,54,131,1) 90%) no-repeat right bottom / 0 var(--bg-h);
  border-radius: 2px;
  transition: background-size 350ms;
  --bg-h: 100%;
  line-height: 1;
  --bg-h: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  color: #000;
  
}

.card .details .center a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;   
  }

@media screen and (max-width: 1200px) {
  .card .image img {
    max-height: 80vh;
  }

}

@media screen and (max-width: 991px) {
  .card .image img {
    width: 100%;
    min-height: 100vw;
    object-fit: cover;
  }

}

@media screen and (max-width: 400px) {
  .card .details .center h3 {
    font-size: 12px;
    text-transform: uppercase;
  }

}

/************ Contact Form Css ************/
.form-box{
  background-color: #dddddd;
  border-radius: 25px 25px 0 0;
  padding-bottom:25px ;
  padding-top: 15px;
  color: #000000;
}

.form-box section{
  text-align: center;
}

.form-box a{
  background: linear-gradient(90deg, rgba(89,48,179,1) 10%, rgba(161,54,131,1) 90%) no-repeat right bottom / 0 var(--bg-h);
  border-radius: 4px;
  transition: background-size 350ms;
  --bg-h: 100%;
  line-height: 1;
  --bg-h: 6px;
  padding-bottom: 4px;
  font-size: x-large;
  font-weight:600;
  cursor: pointer;
}
.form-box a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;   
  }

.animation-form{
  width: 50%;
  margin: auto;
  display: block;
}

.amplify-flex.amplify-field.amplify-textareafield{
  display:grid;
}

.amplify-textarea.amplify-field-group__control{
  height: 150px;
}

.amplify-select__icon-wrapper{
  display: none;
}
.amplify-visually-hidden{
  display: none;
}
.amplify-field-group--horizontal{
  display: flex;
}

.amplify-select__wrapper{
 height: 27.2px;
}
.amplify-field-group__control{
  height: 100%;
}

.form-box .amplify-button{
  margin-top: 15px;
}

@media screen and (max-width: 1200px) {
  .animation-form{
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .animation-form{
    width: 60%;
  }
}

/************ Footer Css ************/
.footer {
  background-color: #121212;
  text-align: center;

}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.social-icon-foot{
  margin:10px 30px 0 0;
}

.social-icon-foot a {
  width: 50px;
  height: 50px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.social-icon-foot a::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon-foot a:hover::before {
  transform: scale(1);
}
.social-icon-foot a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}
.social-icon-foot a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

@media screen and (max-width: 575px) {
  .social-icon-foot{
    margin:10px 0 0 0;
  }
}



/******* POP-UP **********/

.overlay{
  position:fixed;
  background: rgba(0, 0, 0, 0.212);
  z-index: 9999;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  text-align: center;
  
}

.container-overlay{
  position: fixed;
  background-color: #ddd;
  margin: 25px;
  top:0;
  left:0;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  padding: 15px 0 15px 0;
  border-radius: 20px;

}

.overlay button{
  margin-left:2vw ;
}

.overlay .btn-close{
  position: relative;
  float: right;
  margin: 0 2% 0 0;
}


.react-pdf__Document{
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 5px;
  height: 90%;
  border-radius: 20px;
}
.react-pdf__Page__canvas{
  margin: auto;
}
.react-pdf__Page__textContent{
  display: none;
}

@media screen and (max-width: 700px) {
  .react-pdf__Page__canvas{
    height: auto !important; /*Overide element style */
    width: 100% !important;
  }

  .container-overlay{
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 10px);
  }
}


