/************ Default Css ************/
#root {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #071321 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}


/************ Navbar Css ************/

nav.navbar {
  padding-bottom: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
  border-bottom: 3px;
  border-color: azure;
}

.animation-nav {
    pointer-events: none;
    max-height: 100px;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #ffffff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .dropdown-toggle.nav-link{
  font-weight: 400;
  color: #ffffff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;

}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}

.social-icon {
  display:flex;
  margin-left: 14px;
}
  .social-icon a {
    width: 50px;
    height: 50px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text a[role=button] {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
  border-radius: 10px;
}

.navbar-text a[role=button]::before {
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}
.navbar-text a[role=button]:hover {
  color: #121212;
}
.navbar-text a[role=button]:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}


.nav-logo{
  width: 200px;
  transform: translateY(-20px);
}

@media screen and (max-width: 1200px) {
nav.navbar .animation-nav {
  width: 150px;
  
}
}
@media screen and (max-width: 991px) {

  nav.navbar .animation-nav {
    width: auto;
    
  }
  .me-auto.navbar-nav a{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  nav.navbar .dropdown-menu.show{
    position: absolute;
  }

  .navbar-collapse{
    display: flex;
    transform: translateY(-20px); 
  }

  span.navbar-text{
    display: flex;
    flex-direction: column;
    
  }

  .social-icon{
    margin: 0 auto;
    z-index: 2;
    display: flex;
    padding-bottom: 20px;  
  }

  .navbar-text button{
    margin-left: 0;
    margin: 0 auto;
    z-index: 1;
    margin-bottom: 10px;
  }
}


/************Banner********************/
.banner {
  margin-top: 0;
  padding: 15vh 0 200px 0;
  background-image: url(./assets/nasa.jpg);
  background-color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  transition: background 300ms ease-in 200ms;
  background-position: top center;
  background-size:cover;
  background-repeat: no-repeat;
  
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  min-height: 130px;
}
.banner p {
  color: #dddddd;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  margin: 8% 8% 0 8%;
  height: 100px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 20px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button img {
  margin-left: 10px;
  filter: invert(1);
}

.banner button:hover {
  color: #000000;
  border: 1px solid #000000;
}
.banner button::before{
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

.banner button:hover img {
  filter: invert(0);
  transition: 0.3s ease-in-out;
}


.banner button::after {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner .bottom-banner{
  display: flex;
  margin-top: 10px;
}

.banner .profile-photo{
  aspect-ratio: 1/1;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;

}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.animation-banner{
  margin-top: 25px;
  border-radius: 25%;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 1200px) {
.banner .profile-photo {
  width: 20vw;
  height: 20vw;
}
.banner h1 {
  min-height: 195px;
}
}

@media screen and (max-width: 768px) {
  .banner .profile-photo {
    width: 30vw;
    height: 30vw;
  }
}

/************  Skills   *************/
.skill-fade{
  background: linear-gradient(0deg, rgba(7,19,33,1) 97%, rgba(18,18,18,0) 100%);
}

.skill{
  background-color: #121212;
  border-radius: 64px;
  width: 100%;
  text-align: center;
  margin-top: -150px;

}

.skill-box {
  padding: 10px 20px 20px 20px;
  width: auto;
}

img.d-block {
  margin-left: 38%;
  margin-bottom: 7vw ;
  width: 25%;
  min-height: 20vw;
}
.lazy-load-image-background.blur{
  width: 100%;
  height: 100%;
}

.carousel-caption{
  position:absolute; 
  bottom: 30px;
}

.carousel .framework{
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 50px;

}

.carousel .framework img{
  width: 80%;
  aspect-ratio: 3/2;
  object-fit: contain;
  align-self: center;
}

.skill ul{
  padding: 10px 20% 30px 20%;
  columns: 3;
  list-style:none;
}

.skill li{
  margin: 5px 5px 5px 5px;
}

.skill li>a{
  background: linear-gradient(90deg, rgba(89,48,179,1) 10%, rgba(161,54,131,1) 90%) no-repeat right bottom / 0 var(--bg-h);
  border-radius: 2px;
  transition: background-size 350ms;
  --bg-h: 100%;
  text-decoration: none;
  color: inherit;
  line-height: 1;
  --bg-h: 4px;
  padding-bottom: 2px;
  font-weight:800;
    font-size: large;
}

.skill li>a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;   
  }

@media screen and (max-width: 1200px) {
  .carousel .d-block {
    margin-bottom: 10vw ;
    margin-left: 35%;
    width: 30%;
  }
  .carousel .framework{
    height: 120px;
  }
  .carousel .framework img{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .carousel .d-block {
    margin-left: 30%;
    margin-bottom: 15vw ;
    width: 40%;
  }
  .carousel .framework{
    height: 100px;
  }

  .skill li>a{
    font-weight:800;
    font-size: medium;

  }
}

@media screen and (max-width: 530px) {
  .carousel .d-block {
    margin-bottom: 22vw ;
  }

}

/************ Contact Css ************/
.form-box{
  background-color: #dddddd;
  border-radius: 25px 25px 0 0;
  padding-bottom:50px ;
}

.form-box .animation{
  width: 35%;

}

/************ Footer Css ************/
.footer {
  background-color: #121212;

}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.social-icon-foot{
  margin-top: 1vw;
}

.social-icon-foot a {
  width: 50px;
  height: 50px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon-foot a::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon-foot a:hover::before {
  transform: scale(1);
}
.social-icon-foot a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}
.social-icon-foot a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
